<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue基础</title>
    <style>
       /* img:active{
            border: 1px solid red;
        } */
        #mask{
            margin: 200px auto;
            width: 300px;
            border:1px solid cadetblue;
        }
        #mask .center{
            display: block;
            margin: 15px ;
            background-color: darkseagreen;
        }
    </style>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    {{message}}
    <p>
        {{ school.name }} {{ school.address }}
    </p>
    <ul>
        <li>
            {{campus[0]}}
        </li>
    </ul>
    <h1 v-text="text+'?'">测试可拼接</h1>
    <h2>
        {{ text }}测试可拼接
    </h2>
    <p v-text="html"></p>
    <p v-html="html"></p>
</div>
<br/>
<div id="app1">
    <input type="button" value="v-on:click" @click="doIt">
    <input type="button" value="v-on:dblclick" @dblclick="doIt">
    <p @click="changFood">{{ food }}</p>
</div>
<br/>
<div id="app2">
<div class="input-num">
    <button @click="sub">-</button>
    <span>{{ num }}</span>
    <button @click="add">+</button>
</div>
</div>
<br/>
<div id="app3">
    <input type="button" value="点击切换状态" @click="changeIsShow">
    <input type="button" value="增加年龄" @click="addAge">
    <input type="button" value="切换v-if状态" @click="toggleIsShow">
    <h1 v-if="isShow">测试v-if</h1>
    <p v-if="temperature>=30">热死了</p>
    <img  v-show="isShow" src="柴犬.jpg" alt="">
    <img  v-show="age>=18" src="柴犬.jpg" alt="">
</div>
<br/>
<div id="app4">
    <img :src="imgSrc" alt=""  :title="imgTitle+'！！！'"
    :class="{active:IsActive }"  @click="toggleActive"
    >测试v-bind:src、v-bind:title、v-bind:class</img>

</div>
<br/>
<div id="mask">
        <h2 class="title">
        <img src="images/vuelogo.png" alt="" width="70px">图片切换
        </h2>
    <div class="center" >
   <a href="javascript:void(0)"  id="left" @click="prev" v-show="index!=0" >
        <img src="images/prev.png">
   </a>
    <img :src="imgArr[index]" alt="" >
    <a href="javascript:void(0)"  id="right" @click="next" v-show="index<imgArr.length-1">
        <img src="images/next.png" >
    </a>
    </div>
</div>
<br/>
<div id="app5">
    <ul >
        <li v-for="(item,index) in arr">
            {{ index+1 }}水果种类：{{ item }}
        </li>
    </ul>
    <input type="button" @click="add" value="添加蔬菜">
    <input type="button" @click="remove" value="删除蔬菜">
    <h1 v-for="it in vegetables" :title="it.name">
        {{ it.name }}
    </h1>
</div>
<br/>
<div id="app6">
    <input type="button" value="点击" @click="doIt('你好','在吗')">
    <input text alt="" @keyup.enter="sayHi">
</div>
<br/>
<div id="app7">
    <input type="button" value="修改message" @click="setM">
    <input type="text" v-model="message" @keyup.enter="getM">
    <p>{{ message }}</p>
</div>
<script>
var app =new Vue({
    el:'#app',
    data:{
        message:"Hello vue",
        school:{
            name:"shanzheng",
            address:"jinan",
        },
        campus:["法学院","商学院"],
        text:"v-text指令！",
        html:"<a href='http://www.baidu.com'>百度</a>"
    }
})
</script>
<script>
    var app1=new Vue({
        el: '#app1',
        data: {
            food:"番茄炒蛋"
        },
        methods:{
            doIt:function(){
                alert("弹出");
            },

            changFood:function () {
                console.log(this.food);
                 this.food+="好好吃";
            }
        }
    })
</script>
<script>
    var app2=new Vue({
        el:"#app2",
        data:{
            num:0,
        },
        methods: {
            add:function () {
                //console.log('add');
                if(this.num<10){
                    this.num++;
                }else{
                    alert("别点了，最大啦！")
                }
            },
            sub:function () {
                //console.log('sub');
                if(this.num<0){
                    this.num--;
                }else{
                    alert("别点了，最小啦！")
                }
            }

        }
    })
</script>
<script>
    var app3=new Vue({
        el:"#app3",
        data:{
            isShow:false,
            age:17,
            temperature:25,
        },
        methods :{
            changeIsShow:function () {
             this.isShow= ! this.isShow;
            },
            addAge:function () {
                this.age++;
            },
            toggleIsShow:function () {
                this.isShow=!this.isShow;
            }
        }
    })
</script>
<script>
    var app=new Vue({
        el:"#app4",
        data:{
            imgSrc:"http://photocdn.sohu.com/20151230/mp51418275_1451462567831_8.jpeg",
            imgTitle:"logo",
            IsActive:false,
        },
        methods :{
            toggleActive:function () {
                this.IsActive=!this.IsActive;
            }
        }
    })
</script>
<script>
    var app=new Vue({
        el:"#mask",
        data:{
            imgArr:[
                "images/image1.jpg",
                "images/image2.jpg",
                "images/image3.jpg",
                "images/image4.jpg",
                "images/image5.jpg",
                "images/image6.jpg",
                "images/image7.jpg",
                "images/image8.jpg",
            ],
            index:0,
        },
        methods:{
            prev:function () {
                this.index--;
            },
            next:function () {
                this.index++;
            }
        }
        })

</script>
<script>
    var app5=new Vue({
        el: "#app5",
        data: {
            arr: ["苹果", "香蕉", "梨"],
        vegetables: [
            {name: "土豆"},
            {name: "雪豆"},
        ]
        },
        methods:{
            add:function () {
                this.vegetables.push({name:"豆腐"});
            },
            remove:function () {
                this.vegetables.shift();

            }
        }

    })
</script>
<script>
    var app6=new Vue({
        el:"#app6",
        methods:{
            doIt:function (p1,p2) {
                //console.log("doIt");
                console.log(p1,p2);
            },
            sayHi:function () {
                alert("填完了吗");
            }
        }
    })
</script>
<script>
    var app=new Vue({
        el :"#app7",
        data:{
            message: "测试v-model",
        },
        methods:{
            getM:function () {
                alert(this.message);
            },
            setM:function () {
                this.message="再测试";
            }
        }
    })
</script>
</body>
</html>